
body{
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    margin:0;
    padding: 0px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    
}

/* Estilo barra de navegacion */
#brand-image{
    height: 50px;
    
}
.barra nav div ul li{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
}
.navbar{
    border-bottom: 5px solid #915a5d; 
    position: relative;
 }
.navbar  ul li{
    align-items: center;
    color: black;
    position:relative;
}
.navbar ul a {
    display:block;
    color: black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.navbar ul li div a{
float: left;
z-index: 100;
}
.navbar ul li div a:active{
    background-color:  #915a5d;
}
.navbar ul div{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}
.navbar ul{
   
}
.navbar ul div a{
    float: none;
   background-color: white;
  
}
.navbar ul li:hover > div {
    display:block;
    z-index: 100;
    background-color: white;
}
.barra nav ul li ul li {
    text-decoration: none;
}

/* Impresoras mas usadas*/
.ContenedorImagen{
    background-size:80% 95%;
    background-position: 50% 80%;
    background-image: url(imagenes/escaner.jpg);
    justify-content: center;
    text-transform: initial;
    font-size: 25px;
    margin-top: 5%;
    background-color: white;
    background-repeat: no-repeat;
    align-items: center;
    height: 700px;
    width: 100%;
    position: relative;
    
}

div h4{
    color: white;
    position: relative;
    left: 15%;
    top: 90%;
}

/*-----------------------------*/
.separador1{
   
    width: 100%;
    height: 500px;
    margin-top: 15px;
}

#explica{
    background-color: white;
  
    text-align: center;
     height: 100%;
     width: 100%;
     font-family: 'Exo 2', sans-serif;
     margin-top: 5%;
     
     border-top: 5px solid #915a5d;
     border-bottom: 5px solid #915a5d;
}
#explica h2{
font-size: 50px;
text-align: left;
margin-left: 15px;
}
#explica section{
    margin-top: 15px;
    font-size:30px;
   
    margin-left: 15px;
}

.marcas{
    background-color: rgb(196, 194, 194);
    position: relative;
    margin-top: 10%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-right: 15px;
    font-family: 'Exo 2', sans-serif;
    
}
 div{
  
}
.marcas{
    text-align: left;
    border-radius: 3500px;
    border-style: ridge;
}
.marcas img{
    
    height: 250px;
    margin-left: 220px;
    margin-bottom: 35px;
    border-radius: 25px;
}




footer{
    margin-top: 50px;
    background-color: gray;
    color: white;
    width: 100%;
    
}
#futer{
    margin-top: 25px;
   margin-left: 50%;
   background-color: blue;
   height: 100%;
}