body{
   background-color: white;
   max-width: 100%;
   max-height: 100%;
   margin:0;
   padding: 0px;
   font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: black;
   font-size: 2vh;
   
   
}

/* Barra de navegacion*/
.barra{
    border-bottom: 5px solid #915a5d; 
}
#brand-image{
    height: 50px;
    
}
.barra nav div ul li{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
}
.navbar{
   
    position: relative;
 }
.navbar  ul li{
    align-items: center;
    color: black;
    position:relative;
}
.navbar ul a {
    display:block;
    color: black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
  text-transform:uppercase;
  letter-spacing:1px;
}
.navbar ul li div a{
float: left;
z-index: 100;
}
.navbar ul li div a:active{
    background-color:  #915a5d;
}
.navbar ul div{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}
.navbar ul{
   
}
.navbar ul div a{
    float: none;
   background-color: white;
  
}
.navbar ul li:hover > div {
    display:block;
    z-index: 100;
    background-color: white;
}
.barra nav ul li ul li {
    text-decoration: none;
}

